@page
@model MyVocabulary.Web.Pages.ExerciseModel
@{
}
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Мой словарный запас.</title>
    <style>
        .header {
            text-align: center;
            color: rgba(83, 181, 180);
        }

        .body {
            background-color: rgba(255, 226, 224);
            height: 100%;
        }

        .conteuiner {
            text-align: center;
            color: rgba(83, 181, 180);
        }

        .aside {
            display: inline-block;
            height: 2000px;
            text-align: center;
            background-color: rgba(252, 177, 177);
            margin: 10px;
            padding: 10px;
        }

        .main {
            display: inline-block;
            text-align: center;
            margin: 10px;
            padding: 10px;
        }

        .p {
            color: rgba(0,0,0);
        }
    </style>
</head>
<body class="body">
    <h1 class="header">Мой словарный запас.</h1>

    <aside class="aside">
        <nav>
            <h3 class="header">функции</h3>
            <ul>
                <li>
                    <a href="entry.html">записать новое слово</a>
                </li>
                <li>
                    <a href="search.html">найти слово</a>
                </li>
                <li>
                    <p class="p">задание для проверки</p>
                </li>
            </ul>

        </nav>
    </aside>
    <main class="main">
        <p>@Model.giwenWord</p>
        <form name="form3" action="/examination" method="post">
               <p>Выбирите правильный вариант ответа</p>
            <input name="word" type="radio" value="@Model.answerOption[0]" required> @Model.answerOption[0]<br>
            <input name="word" type="radio" value="@Model.answerOption[1]" required> @Model.answerOption[1]<br>
            <input name="word" type="radio" value="@Model.answerOption[2]" required> @Model.answerOption[2]<br>
            <input name="word" type="radio" value="@Model.answerOption[3]" required> @Model.answerOption[3]<br>
            <input type="hidden" name="translationGiwenWord" value=@Model.translationGiwenWord>
            <button type="submit">проверить</button>
        </form>
        <article></article>
    </main>
    <footer></footer>

</body>
</html>
